**/.idea
**/out

*.DS_Store

**/cache

*.iml

.gradle

local.properties


**/build


*/node_modules/**/*
*/.expo/*
*/npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*/web-build/
*/web-report/

**/creds.js
